@model Cyber_dz.Models.EncryptionModel

<h2>Шифратор</h2>

<form asp-action="Encrypt" method="post">
    <label for="InputText">Введите строку:</label>
    <input type="text" asp-for="InputText" />

    <label for="CipherType">Выберите шифр:</label>
    <select asp-for="CipherType">
        <option value="1">Кузнечик</option>
        <option value="2">Streebog</option>
    </select>

    <button type="submit">Зашифровать</button>
</form>

<form asp-action="Decrypt" method="post">
    <label for="InputText">Введите зашифрованную строку:</label>
    <input type="text" asp-for="InputText" />

    <label for="CipherType">Выберите шифр:</label>
    <select asp-for="CipherType">
        <option value="1">Кузнечик</option>
    </select>

    <button type="submit">Дешифровать</button>
</form>

@if (!string.IsNullOrEmpty(Model.EncryptedText))
{
    <p>Зашифрованный текст: @Model.EncryptedText</p>
}

@if (!string.IsNullOrEmpty(Model.DecryptedText))
{
    <p>Дешифрованный текст: @Model.DecryptedText</p>
}